body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1{
    font-size: 50px;
}

.name{
    color: orange;
}

section{
    display: flex;
}

.bg-img{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.part-two{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.container{
    padding-left: 8%;
    width: 50%;
}

.container-2{
    padding-left: 8%;
    width: 50%;
}

.container-2 img{
    width: 100%;
}

.container img{
    width: 90%;
}

.hire-me-btn{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color: black;
    border-radius: 5px;
    font-weight: 700;
}